<header class="sticky w-full z-20 top-0 start-0 z-10">
	<nav class="bg-violet-200">
		<div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-2">
			<a href="{% url 'user_dashboard:home' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
				{% comment %} <img src="" class="h-7" alt="Flowbite Logo" /> {% endcomment %}
				<span class="self-center text-xl text-heading font-semibold whitespace-nowrap">ShopMint</span>
			</a>
			<nav class="bg-neutral-secondary-soft">
				<div class="max-w-screen-xl px-4 py-3 mx-auto">
					<div class="flex items-center">
						<ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
							<li>
								<a href="{% url 'user_dashboard:home' %}" class="text-heading hover:underline" aria-current="page">Home</a>
							</li>
							{% if user.is_authenticated %}
							<li>
								<a href="{% url 'user_dashboard:addproduct' %}" class="text-heading hover:underline" aria-current="page">Add</a>
							</li>
							<li>
								<a href="#" class="text-heading hover:underline"><i class="fa-solid fa-cart-shopping"></i> Cart</a>
							</li>
							<li>
								<a href="#" class="text-heading hover:underline"><i class="fa-solid fa-user"></i> {{ user.username }}</a>
							</li>
							<li>
								<button data-modal-target="popup-modal" data-modal-toggle="popup-modal" class="text-heading hover:underline">Logout</button>
								<div id="popup-modal" class="fixed inset-0 z-[9999] bg-black/50 backdrop-blur-sm overflow-hidden">
										<div class="flex items-center justify-center min-h-screen">
											<div class="relative z-[10000] bg-white rounded-lg shadow-lg p-6 text-center w-full max-w-md">
												
											<!-- Close -->
											<button onclick="closeModal()" class="absolute top-3 right-3 text-gray-400 hover:text-gray-700">✕</button>

											<!-- Icon -->
											<div class="flex justify-center mb-4">
												<div class="w-12 h-12 flex items-center justify-center rounded-full border text-gray-500">
													!
												</div>
											</div>

											<!-- Text -->
											<h3 class="mb-6 text-gray-700 text-lg font-medium">
												Are you sure you want to log out?
												<br>
												<span class="text-sm text-gray-500">
													You will need to sign in again.
												</span>
											</h3>

											<!-- Buttons -->
											<div class="flex justify-center gap-4">

												<!-- Logout -->
												<button onclick="logoutUser()" class="px-5 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700">Yes, log me out</button>

												<!-- Cancel -->
												<button onclick="closeModal()" class="px-5 py-2 bg-gray-200 rounded-lg hover:bg-gray-300">Cancel</button>
											</div>
										</div>
									</div>
								</div>
							</li>
							{% else %}
							<li>
								<a href="{% url 'users:login' %}" class="text-heading hover:underline">Login</a>
							</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</nav>
</header>
